%h1 Listing biographies

%table
  %tr
    %th Member
    %th First name
    %th Last name
    %th Instrument
    %th Biography
    %th
    %th
    %th

  - @biographies.each do |biography|
    %tr
      %td= biography.member_id
      %td= biography.first_name
      %td= biography.last_name
      %td= biography.instrument
      %td= biography.biography
      %td= link_to 'Show', biography
      %td= link_to 'Edit', edit_biography_path(biography)
      %td= link_to 'Destroy', biography, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Biography', new_biography_path
