%p.notice= notice

.row
  .span2
    %b Name:
  .span4
    = @biography.first_name + ' ' + @biography.last_name

.row
  .span2
    %b Instrument:
  .span4
    = @biography.instrument
  
.row
  .span2
    %b Biography:
  .span8= raw @biography.biography

- if member_signed_in?
  = link_to 'Edit', edit_biography_path(@biography)
  \|
  = link_to 'Back', biographies_path
