= form_for @donation do |f|
  - if @donation.errors.any?
    .error_messages
      %h2
        = pluralize(@donation.errors.count, "error")
        prohibited this donation from being saved:
      %ul
        - @donation.errors.full_messages.each do |msg|
          %li= msg
  = hidden_field_tag :stripe_card_token, nil, name: "stripe_card_token", id: "stripe_card_token"
  .field
    = f.label :amount, 'Amount of Donation'
    = f.text_field :amount
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = label_tag :card_number, "Credit Card Number "
    = text_field_tag :card_number, nil, name: nil
  .field
    = label_tag :card_code, "Security Code on Card (CVV)"
    = text_field_tag :card_code, nil, name: nil
  .field
    = label_tag :card_month, "Card Expiration"
    = select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}
    = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}
  #stripe_error
    %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
  .actions= f.submit "Donate"
