!!!
%html
  %head
    %title South Texas Jazz Foundation
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
      %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
        %link{:href => "/css/focus.css", :rel => "stylesheet"}
          %link{:href => "/css/focus-responsive.css", :rel => "stylesheet"}
            %link{:href => "/css/pages/homepage.css", :rel => "stylesheet"}
              / Le HTML5 shim, for IE6-8 support of HTML5 elements
              /[if lt IE 9]
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
              = render 'layouts/google'
              = content_for :head
              = csrf_meta_tags
  %body
    #wrapper.clearfix
      #header
        %h1
          = link_to "South Texas Jazz Foundation", root_path
      .row
        #nav.clearfix
          - if notice
            %p.notice= notice
          - if alert         
            %p.alert= alert
          .container
            %ul#main-nav
              = nav_link 'Home', root_path, { :class => 'link' }, {:wrapper => 'li', :wrapper_class => '', :selected_class => 'active'}
              = nav_link 'Photos', photo_albums_path, { :class => 'link' }, {:wrapper => 'li', :wrapper_class => '', :selected_class => 'active', :url_segment => 1}
              = nav_link 'Band Members', band_members_path, { :class => 'link' }, {:wrapper => 'li', :wrapper_class => '', :selected_class => 'active', :url_segment => 1}
      = yield
      #copyright
        .container
          .row
            #rights.grid-6
              © 2012 All Rights Reserved.
            / /grid-6
            /
              <div id="totop" class="grid-6">
              <a href=""></a>
              </div>
            / /row
          / /container
        / /copyright
      / /wrapper
    %script{:src => "/js/focus.js"}
    :javascript
      $(function () {
        $('#masthead-carousel').carousel ({ interval: false });
      });
